# Web Framework & Async Server
fastapi
uvicorn
starlette

# Database & ORM
SQLAlchemy
pymysql
pymongo

# Data Science, Machine Learning & Visualization
numpy
pandas
scikit-learn
plotly
kiwipiepy

# Web Scraping & Utilities
beautifulsoup4
requests
selenium
webdriver_manager
python-dotenv
pydantic
email-validator

# Testing & Dev
pytest
mypy